---
import { config } from '../config.js';
import { loadBundle } from '../lib/bundle.js';
import Layout from '../layouts/Layout.astro';

import EIPList from '../components/EIPList.svelte';
import eipsSrc from '../../../static/eips.json';

export async function getStaticPaths() {
    const bundle = await loadBundle()
	const ids = config.categories.reduce((arr, cat) => arr.concat(bundle.data[cat.col].map(i => i.slug)), [])
    return ids.map(id => ({ params: { id }}))
}

const bundle = await loadBundle()
const catData = config.categories.find(c => bundle.data[c.col].find(i => i.slug === Astro.params.id))
const item = bundle.data[catData.col].find(i => i.slug === Astro.params.id)

---

<Layout>
	<h1 class="text-4xl">{item.name}</h1>
    <div class="mt-4">{item.description}</div>

    {item.eips && item.eips.length > 0 &&
        <EIPList item={item} eips={eipsSrc.eips} type="eip" />
    }

    {item.ercs && item.ercs.length > 0 &&
        <EIPList item={item} eips={eipsSrc.ercs} type="erc" />
    }

    <h2 class="text-2xl mt-20 mb-4">Source</h2>
    <pre class="bg-gray-200 p-4 text-sm mb-4"><code>{JSON.stringify(item, null, 2)}</code></pre>

    <a href={`https://github.com/ethereumeg/ethcd/edit/main/data/${catData.col}/${item.slug}/index.yaml`} class="hover:underline">Edit this item</a>
</Layout>